.main {
    margin: 0;
    display: grid;
    place-items: center;
}

.form {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    border-radius: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form>div {
    display: flex;
    justify-content: space-between;
    ;
}

form>div>input {
    background-color: rgb(0, 0, 0);
}

form>div>button {
    padding: 2%;
    cursor: grab;
}

form>div>button:hover {
    box-shadow: 0 0 8px rgb(0, 135, 219);
}