.header {
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;
}

.header>div>button {
    padding: 2%;
}

.header>div>button:hover {
    box-shadow: 0 0 8px rgb(0, 135, 219);
}